@tailwind base;
@tailwind components;
@tailwind utilities;



/* FONTS */
@font-face {
  font-family: 'DM';
  src: url('fonts/DMSerifText-Regular.woff') format('woff'),
  url('fonts/DMSerifText-Regular.woff2') format('woff2');
  /* font-weight: lighter; */
  /* font-style: normal;   */

}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* font adjust */
.logo{
  font-family: "DM";
  letter-spacing: 2px;
}

h1{
  font-family: "DM";
  letter-spacing: 1.5px;
}

h2{
  font-family: "DM";
  letter-spacing: 5px;
}

h3{
  font-family: "DM";
  letter-spacing: 2px;
}

/* Text sizes */
.text-base {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 20px;
}

.text-2xl {
  font-size: 24px;
}

.text-5xl {
  font-size: 48px;
}


/* Contact page */
.contact-section{
  margin-top: 6rem;
  margin-bottom: 6rem;
  scale: 1.25;
}

.contact-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #d35400;
}

/* booking */
.book-appointment{
  scale: 1.35;
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.about-text{
  scale: 1.1;
}

.services-title{
  margin-top: -1.5rem;
}

.service-text1{
  margin-left: -3rem;
  scale: 1.2;
}

.service-text{
  margin-left: 5rem;
  scale: 1.2;
}

.service-img{
  margin-left: 9rem;
}

.x-ray {
  scale: 1.1;
}